{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/buttons.html.twig' as buttons %}

{% block title %}Clubs{% endblock %}

{% block section %}
    <form action="{{ path('club_edit', {'id': club.id}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>Edit club <em>{{ club.name }}</em></legend>
            {{ form_widget(form) }}
        </fieldset>
        <fieldset class="buttons">
            {{ buttons.save('Save') }}
            {{ buttons.cancel(path('club_list'), 'Cancel') }}
        </fieldset>
    </form>
{% endblock %}