{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/buttons.html.twig' as buttons %}

{% block title %}Overview of clubs{% endblock %}

{% block section %}
    {{ buttons.add(path('club_create'), 'Add club') }}
    {% if clubs %}
        <table>
            <caption>Clubs</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for club in clubs %}
                    <tr>
                        <td>
                            <a href="{{ path('club_detail', {'id': club.id}) }}">{{ club.name }}</a>
                        </td>
                        <td>
                            <ul class="actions">
                                <li>
                                    {{ buttons.edit(path('club_edit', {'id': club.id }), 'edit') }}
                                </li>
                                <li>
                                    {{ buttons.delete(path('club_delete', {'id': club.id }), 'delete') }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No teams found</em>
    {% endif %}
{% endblock %}