{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/members.html.twig' as _members %}

{% block title %}Member{% endblock %}

{% block section %}
    <a href="{{ path('member_list') }}" class="back">Back</a>
    {{ _members.fullname(member) }}
    {% set fields = {
            'firstName': 'first name',
            'middleName': 'middle name',
            'lastName': 'last name',
            'email': 'email',
            'telephone': 'telephone',
            'mobile': 'mobile',
            'street': 'street',
            'zip': 'zip',
            'city': 'city',
            'membershipNumber': 'membership number',
        }
    %}
    <dl>
        {% for key,label in fields %}
            <dt>{{ label }}:</dt>
            <dd>{{ attribute(member, key) }}</dd>
        {% endfor %}
        <dt>club:</dt>
        <dd>{{ member.club.name }}</dd>
    </dl>
    <h2>Teams</h2>
    {{ team_member }}
    {#{{ dump(member.getTeamMembers()) }}#}
{% endblock %}