{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/buttons.html.twig' as _buttons %}
{% import 'AapBluebirdsBundle::macros/members.html.twig' as _members %}

{% block title %}Overview of member{% endblock %}

{% block section %}
    {{ _buttons.add(path('member_create'), 'Add member') }}
    {% if members %}
        <table>
            <caption>Member</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Club</th>
                    <th>Membership number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            <a href="{{ path('member_detail', {'id': member.id}) }}">{{ _members.fullname(member) }}</a>
                        </td>
                        <td>{{ member.getClub().name }}</td>
                        <td>{{ member.membershipNumber }}</td>
                        <td>
                            <ul class="actions">
                                <li>
                                    {{ _buttons.edit(path('member_edit', {'id': member.id })) }}
                                </li>
                                <li>
                                    {{ _buttons.delete(path('member_delete', {'id': member.id })) }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No members found</em>
    {% endif %}
{% endblock %}