{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/buttons.html.twig' as buttons %}

{% block title %}Teams{% endblock %}

{% block section %}
    <form action="{{ path('team_edit', {'id': team.id}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>Edit team <em>{{ team.name }}</em></legend>
            {{ form_widget(form) }}
        </fieldset>
        <fieldset class="buttons">
            {{ buttons.save('Save') }}
            {{ buttons.cancel(path('team_list'), 'Cancel') }}
        </fieldset>
    </form>
{% endblock %}