{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/buttons.html.twig' as buttons %}

{% block title %}Teams{% endblock %}

{% block section %}
    {{ buttons.add(path('team_create'), 'Add team') }}
    {% if teams %}
        <table>
            <caption>Teams</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Club</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>
                            <a href="{{ path('team_detail', {'id': team.id}) }}">{{ team.name }}</a>
                        </td>
                        <td>{{ team.getClub().name }}</td>
                        <td>
                            <ul class="actions">
                                <li>
                                    {{ buttons.edit(path('team_edit', {'id': team.id }), 'edit') }}
                                </li>
                                <li>
                                    {{ buttons.delete(path('team_delete', {'id': team.id }), 'delete') }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No teams found</em>
    {% endif %}
{% endblock %}