{% extends 'AapBluebirdsBundle::admin.html.twig' %}

{% import 'AapBluebirdsBundle::macros/buttons.html.twig' as buttons %}

{% block title %}Overview of positions{% endblock %}

{% block section %}
    {{ buttons.add(path('position_create'), 'Add position') }}
    {% if positions %}
        <table>
            <caption>Positions</caption>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                    <tr>
                        <td>{{ position.number }}</td>
                        <td>
                            <a href="{{ path('position_detail', {'id': position.id}) }}">{{ position.name }}</a>
                        </td>
                        <td>{{ position.rating }}</td>
                        <td>
                            <ul class="actions">
                                <li>
                                    {{ buttons.edit(path('position_edit', {'id': position.id }), 'edit') }}
                                </li>
                                <li>
                                    {{ buttons.delete(path('position_delete', {'id': position.id }), 'delete') }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No teams found</em>
    {% endif %}
{% endblock %}