{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aapbluebirds/css/bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/aapbluebirds/js/3rd-party/jquery-1.9.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aapbluebirds/js/3rd-party/json2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aapbluebirds/js/3rd-party/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aapbluebirds/js/3rd-party/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aapbluebirds/js/admin/admin.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">BB4</a>
            </div>
        </div>
    </div>
    <div class="container" id="content"></div>
    {% block templates %}{% endblock %}
{% endblock %}